logicapp/logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": { "type": "string" },
    "location": { "type": "string" },
    "$connections": { "type": "object" },
    "emailTo": { "type": "string" }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "emailTo": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "When_HTTP_is_called": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "NormalizedEvent": {
              "type": "Compose",
              "runAfter": {},
              "inputs": "@coalesce(triggerBody()?[0], triggerBody())"
            },

            "Validate_EventType": {
              "type": "If",
              "runAfter": {
                "NormalizedEvent": [ "Succeeded" ]
              },
              "expression": {
                "or": [
                  {
                    "equals": [
                      "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                      "Microsoft.EventGrid.SubscriptionValidationEvent"
                    ]
                  },
                  {
                    "equals": [
                      "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                      "Microsoft.Storage.BlobCreated"
                    ]
                  },
                  {
                    "equals": [
                      "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                      "Microsoft.Storage.BlobTierChanged"
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "Return_400_InvalidEventType": {
                    "type": "Response",
                    "runAfter": {},
                    "inputs": {
                      "statusCode": 400,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "received": false,
                        "error": "Invalid eventType (not allowed)",
                        "allowedEventTypes": [
                          "Microsoft.EventGrid.SubscriptionValidationEvent",
                          "Microsoft.Storage.BlobCreated",
                          "Microsoft.Storage.BlobTierChanged"
                        ],
                        "gotEventType": "@coalesce(outputs('NormalizedEvent')?['eventType'], '')"
                      }
                    }
                  }
                }
              }
            },

            "Is_Subscription_Validation": {
              "type": "If",
              "runAfter": {
                "Validate_EventType": [ "Succeeded" ]
              },
              "expression": {
                "equals": [
                  "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                  "Microsoft.EventGrid.SubscriptionValidationEvent"
                ]
              },
              "actions": {
                "Return_Validation_Code": {
                  "type": "Response",
                  "runAfter": {},
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "validationResponse": "@coalesce(outputs('NormalizedEvent')?['data']?['validationCode'], '')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Validate_Storage_Fields": {
                    "type": "If",
                    "runAfter": {},
                    "expression": {
                      "and": [
                        {
                          "not": {
                            "equals": [
                              "@coalesce(outputs('NormalizedEvent')?['subject'], '')",
                              ""
                            ]
                          }
                        },
                        {
                          "not": {
                            "equals": [
                              "@coalesce(outputs('NormalizedEvent')?['data'], null)",
                              null
                            ]
                          }
                        },
                        {
                          "not": {
                            "equals": [
                              "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')",
                              ""
                            ]
                          }
                        },
                        {
                          "not": {
                            "equals": [
                              "@coalesce(outputs('NormalizedEvent')?['data']?['url'], '')",
                              ""
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {},
                    "else": {
                      "actions": {
                        "Return_400_MissingFields": {
                          "type": "Response",
                          "runAfter": {},
                          "inputs": {
                            "statusCode": 400,
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "received": false,
                              "error": "Invalid Storage event payload (missing required fields)",
                              "required": [
                                "subject",
                                "data.accessTier",
                                "data.url"
                              ],
                              "got": {
                                "subject": "@coalesce(outputs('NormalizedEvent')?['subject'], '')",
                                "accessTier": "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')",
                                "url": "@coalesce(outputs('NormalizedEvent')?['data']?['url'], '')"
                              }
                            }
                          }
                        }
                      }
                    }
                  },

                  "Is_Hot_Tier_And_Not_Preflight": {
                    "type": "If",
                    "runAfter": {
                      "Validate_Storage_Fields": [ "Succeeded" ]
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                            "Microsoft.Storage.BlobTierChanged"
                          ]
                        },
                        {
                          "equals": [
                            "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')",
                            "Hot"
                          ]
                        },
                        {
                          "not": {
                            "equals": [
                              "@bool(coalesce(outputs('NormalizedEvent')?['data']?['isPreflight'], false))",
                              true
                            ]
                          }
                        }
                      ]
                    },
                    "actions": {
                      "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "runAfter": {},
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/v2/Mail",
                          "body": {
                            "To": "@parameters('emailTo')",
                            "Subject": "Rehydration finished (Hot tier)",
                            "Body": "<p><strong>Rehydration process finished.</strong></p><p><strong>Blob:</strong> @{outputs('NormalizedEvent')?['subject']}</p><p><strong>Previous tier:</strong> @{outputs('NormalizedEvent')?['data']?['previousTier']}</p><p><strong>Current tier:</strong> @{outputs('NormalizedEvent')?['data']?['accessTier']}</p><p><strong>URL:</strong> @{outputs('NormalizedEvent')?['data']?['url']}</p><p>Ready for the next step.</p>",
                            "Importance": "Normal"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },

                  "Return_OK": {
                    "type": "Response",
                    "runAfter": {
                      "Is_Hot_Tier_And_Not_Preflight": [
                        "Succeeded",
                        "Failed",
                        "Skipped",
                        "TimedOut"
                      ]
                    },
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "received": true,
                        "eventType": "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                        "accessTier": "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')",
                        "isPreflight": "@bool(coalesce(outputs('NormalizedEvent')?['data']?['isPreflight'], false))"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": "[parameters('$connections')]"
          },
          "emailTo": {
            "value": "[parameters('emailTo')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "callbackUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_HTTP_is_called'), '2019-05-01').value]"
    }
  }
}
