logicapp/logicapp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": { "type": "string" },
    "location": { "type": "string" },
    "$connections": { "type": "object" }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "When_HTTP_is_called": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {}
              }
            }
          },
          "actions": {
            "NormalizedEvent": {
              "type": "Compose",
              "runAfter": {},
              "inputs": "@coalesce(triggerBody()?[0], triggerBody())"
            },
            "Is_Subscription_Validation": {
              "type": "If",
              "runAfter": {
                "NormalizedEvent": [ "Succeeded" ]
              },
              "expression": {
                "equals": [
                  "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                  "Microsoft.EventGrid.SubscriptionValidationEvent"
                ]
              },
              "actions": {
                "Return_Validation_Code": {
                  "type": "Response",
                  "runAfter": {},
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "validationResponse": "@coalesce(outputs('NormalizedEvent')?['data']?['validationCode'], '')"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Is_Hot_Tier": {
                    "type": "If",
                    "runAfter": {},
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                            "Microsoft.Storage.BlobTierChanged"
                          ]
                        },
                        {
                          "equals": [
                            "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')",
                            "Hot"
                          ]
                        }
                      ]
                    },
                    "actions": {
                      "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "runAfter": {},
                        "inputs": {
                          "host": {
                            "connection": {
                              "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                          },
                          "method": "post",
                          "path": "/v2/Mail",
                          "body": {
                            "To": "mats.johannesson@easec.se;mats.johannesson@iver.se",
                            "Subject": "Rehydration finished (Hot tier)",
                            "Body": "<p><strong>Rehydration process finished.</strong></p><p><strong>Blob:</strong> @{outputs('NormalizedEvent')?['subject']}</p><p><strong>Previous tier:</strong> @{outputs('NormalizedEvent')?['data']?['previousTier']}</p><p><strong>Current tier:</strong> @{outputs('NormalizedEvent')?['data']?['accessTier']}</p><p><strong>URL:</strong> @{outputs('NormalizedEvent')?['data']?['url']}</p><p>Ready for the next step.</p>",
                            "Importance": "Normal"
                          }
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    }
                  },
                  "Return_OK": {
                    "type": "Response",
                    "runAfter": {
                      "Is_Hot_Tier": [ "Succeeded", "Failed", "Skipped", "TimedOut" ]
                    },
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "Content-Type": "application/json"
                      },
                      "body": {
                        "received": true,
                        "eventType": "@coalesce(outputs('NormalizedEvent')?['eventType'], '')",
                        "accessTier": "@coalesce(outputs('NormalizedEvent')?['data']?['accessTier'], '')"
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": "[parameters('$connections')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "callbackUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'When_HTTP_is_called'), '2019-05-01').value]"
    }
  }
}
